body{
    font-family:"Roboto",sans-serif;
    height:100vh;
}
.boxes{
    display:flex;
    flex-direction: column;
    height:100%;
}
.box-one{
    background-color: #1F2937;
    flex-grow:2;
    padding:16px;
}
.header{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size:30px;
    color:#F9FAF8;
    font-weight:1500;
    display:flex;
}
ul{
    display:flex;

}
li{
    list-style-type: none;

}
a{
    color: #F9FAF8;
    text-decoration: none;
    margin-left:20px;
    font-size:16px;
    gap:10px;
    font-weight: 400;
}
.content{
    display:flex;
    justify-content: center;
    align-items:center;
    padding:0px;
}
.text-content{
    max-width: 50%;
}
.title {
    font-size:48px;
    color:#F9FAF8;
    weight:900;
    margin-bottom:15px;
    margin-left:170px;
}
.text{
    font-size: 18px;
    line-height: 20px;
    color:#E5E7EB;
    margin-left:170px;
    max-width:48%
}
.button {
    background-color:#3882f6;
    color:#E5E7EB;
    font-size:14px;
    border:none;
    border-radius: 10px;
    margin-left:170px;
}
.image-placeholder img{
    border-radius:10px;
    border:none;
    flex:1;
    height:300px;
    width:90%;
    margin:0;
    padding:0;

}


























































.box-two{
    background-color: white;
    flex-grow:2;
    padding:16px;
}

.box-three{
    background-color: #E5E7EB;
    flex-grow:2;
    padding:16px;
}

.box-four{
    background-color: white;
    flex-grow:1;
    padding:16px;
}

.footer{
    background-color: #1F2937;
    flex-grow: 0.5;
    padding:16px;
}